<% unless current_user.nil? %>
  <% ["first_name", "last_name", "email", "phone", "address", "zip", "city"].each do |info| %>
    <p>
      <label for="<%= info %>"><%= t(:"#{info}") %></label>
      <br>
      <input class="title" id="user_<%= info %>" name="user[<%= info %>]" type="text" value="<%= current_user.send(info) %>" />
    </p>
  <% end %>
  <% [:state, :country].each do |info| %>
    <p>
      <label for=""><%= t(info) %></label>
      <br>
      <%= select_tag "user[#{info.to_s}]", options_for_select("Spree::#{info.to_s.camelize}".constantize.all.map(&:name)) %>
    </p>
  <% end %>
<% end %>
